body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
  max-width: 1200px;
  color: #333333;
}

.dark-mode {
  background-color: #1F1F1F;
  color: #F8F8F8;
  #header button {
    background: none;
    border: none;
    color: #F8F8F8; 
    padding: 12px;
    font-size: 2rem;
    cursor: pointer;
    position: absolute; 
  }
  .sidebar {
    background-color: #2A2A2A;
  }
  .sidebar a {
    color: #BEBEBE;
  }
  a {
    color: #BEBEBE;
  }
  .text-content {
    color: #F8F8F8;
  }
  #tutorial-title {
    color: #F8F8F8;
  }
  #intro-image {
    fill: #F8F8F8;
  }
  #sidebar-open-button {
    color: #F8F8F8;
  }
  #sidebar-close-button {
    color: #F8F8F8;
  }
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebar {
  position: relative;
  margin: 0;
  padding: 0;
  width: 300px;
  left: -300px;
  background-color: #BFBFBF;
  position: fixed;
  height: 100%;
  overflow: auto;
  transition: left 0.3s;
}

#sidebar-close-button {
  position: absolute;
  right: 10px;
  color: #242424;
}

.sidebar ul {
  margin-top: 40px;
}

.sidebar a {
  display: block;
  color: #242424;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#sidebar-open-button {
  background: none;
  border: none;
  color: #242424; 
  padding: 12px;
  font-size: 2rem;
  cursor: pointer;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch input {
  opacity: 0;
  width: 60px;
  height: 34px;
  z-index: 2;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 34px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid grey;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
  outline: 2px solid #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

footer {
  text-align: right;
  margin-left: 10px;
  margin-right: 10px;
}

#intro-image {
  width: 180px;
  fill: #333333;
}

#intro-content {
  display: flex;
}

.text-content {
  max-width: 400px;
  color: #333333;
}

#tutorial-title {
  text-align: center;
  color: #333333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#light-mode-text {
  margin-right: 5px;
}

#dark-mode-div {
  display: flex;
  align-items: center;
}

#font-size-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: 0;
  padding: 0;
}

.font-size-button {
  padding:7px;
  padding-right: 17px;
  width: 20px;
  margin-right: 7px;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

#change-font-size-text {
  margin-right: 5px;
}

legend {
  float: left;
}